*{
    margin: 0;
    padding: 0;
}
html,
body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center; /*Centraliza todos os elementos da borda*/
    color-interpolation-filters: sRGB ;
    filter: drop-shadow(20px 20px 30px url) (75%);
}
/*Borda centralizada ao meio*/
.borda{
    display: block;
    width: 600px;
    margin: 0 auto;
    padding: 70px;
    border: 1px solid black;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-image: url("Fogueira.gif"); /*inseri a imagem de fundo*/
}
/*aumentar a  largura da imagem de fundo*/
.borda{
    background-position: 100%;
    background-size: cover; /*redimensiona a imagem de fundo para que cubra todo o espaço do fundo do elemento*/
    top: 0;
    z-index: 0;   
    position: relative;
    object-position: 50% 50%; 
}
/*alterando a cor do simbolo inserido*/
.material-symbols-outlined{
    color: white;
    margin-right: 10px;
} 
h1{
    display: flex;
    justify-content: center;
    background: rgb(233, 236, 204);
    border-color: 1px solid orangered;
    height: 30%;
    top: 0;
    align-items: center;
    font-family: "Roboto", sans-serif;

}
.fa-toilet-paper{
    background-image: url("Fogueira.gif");
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
    color: transparent;
    font-size:50px;
    font-weight: 600;
} 
/*Card texto*/
.nome{
    align-items: center;
    justify-content: center;
    position: relative;
}

.nome,
.nome-full{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}
.nome{
    display: flex;
    position: relative;
    margin: 0;
    top: 0;
    z-index: 0;
    line-height: -1.2cm;
    justify-content: center;
    text-align: left;
    right: -18%;
}
