*{
    margin: 0;
    padding: 0;
}
html,
body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center; /*Centraliza todos os elementos da borda*/
    color-interpolation-filters: sRGB ;
    filter: drop-shadow(20px 20px 30px url) (75%);
}
/*Borda centralizada ao meio*/
.borda{
    display: block;
    width: 600px;
    margin: 0 auto;
    padding: 70px;
    border: 1px solid black;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-image: url("Fogueira.gif"); /*inseri a imagem de fundo*/
}
/*aumentar a  largura da imagem de fundo*/
.borda{
    background-position: 100%;
    background-size: cover; /*redimensiona a imagem de fundo para que cubra todo o espaço do fundo do elemento*/
    top: 0;
    z-index: 0;   
    position: relative;
    object-position: 50% 50%; 
}
/*alterando a cor do simbolo inserido*/
.material-symbols-outlined{
    color: white;
}
