*{
    margin: 0;
    padding: 0;
}
html,
body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center; /*Centraliza todos os elementos da borda*/
    color-interpolation-filters: sRGB ;
    filter: drop-shadow(20px 20px 30px url) (75%);
}
/*Borda centralizada ao meio*/
.border{
    display: block;
    width: 700px;
    margin: 0 auto;
    padding: 70px;
    border: 1px solid black;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-image: url("Fogueira.gif"); /*inseri a imagem de fundo*/
}
/*aumentar a  largura da imagem de fundo*/
.border{
    background-position: 100%;
    background-size: cover; /*redimensiona a imagem de fundo para que cubra todo o espaço do fundo do elemento*/
    top: 0;
    z-index: 0;   
    position: relative;
    object-position: 50% 50%; 
}

/*alterando a cor do simbolo inserido*/
.material-symbols-outlined{
    color: white;
}
h1{
   background: rgb(233, 236, 204);
   height:30%;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   align-items: center;
   font-family: "Roboto", sans-serif; 

}
.fa-toilet-paper{
    background: url(Fogueira.gif);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
    color: transparent;
    font-size:50px;
    font-weight: 900;
}
.E-mail,
.material-symbols-outlined{
    align-items: center;
    justify-content: center;
    position: relative;
}

.E-mail,
.email{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
} 
/*centralizando o symbolo com o card text inserido*/
.E-mail{
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}

.senha,
.material-symbols-outlined{
    align-items: center;
    justify-content: center;
    position: relative;
}
.senha,
.senha-password{
    width: 95%;
    max-width: 350px;
    margin: 0 auto;   
}

.senha{
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}

.cadastro{
    display: flex;
    position: relative;
    margin: 0;
    top: 0;
    z-index: 1;
    align-items: center; 
    line-height: 1.1cm;
    justify-content: center;
    text-align: left;
    right: 50px;
}

.cadastro > a{
    color: rgb(20, 220, 63);
    font-size: 14px;
    text-decoration: none;
    border-bottom: 0 solid;
    transition: background 0.1s ease-in-out;
    z-index: 0; 
}

.redefinir-senha{
    display: flex; 
    position: absolute;
    width: 100%;
    cursor: pointer;
}
.redefinir-senha{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: -30px;
    line-height: 1.12cm;
    text-align: left;
    right: -45px;
}

.redefinir-senha > a{  
    font-size: 14px;
    color: rgb(20, 220, 63);
    z-index: 1;
    text-decoration: none;
    border-bottom: 0 solid;
    transition: background 0.1s ease-in-out;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    top: -40px;
    position: relative;
    margin-top: -20px;
    z-index: 9;
    text-align: left;
    width: 100%;
    margin-left: -67px;
    float: left;
}

.btn-envia{
    display: flex;
    border: 1px solid black;
    padding: 10px 46px;
    width: 60px;
    font-size: 16px;
    background-color: blueviolet;
    color: black;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
}
.btn-envia:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
