/*Borda centralizada ao meio*/
.border{
    display: block;
    width: 700px;
    margin: 0 auto;
    padding: 70px;
    border: 1px solid black;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-image: url("Fogueira.gif"); /*inseri a imagem de fundo*/
}
/*aumentar a  largura da imagem de fundo*/
.border{
    background-position: 100%;
    background-size: cover; /*redimensiona a imagem de fundo para que cubra todo o espaço do fundo do elemento*/
    top: 0;
    z-index: 0;
    
}
/*alterando a cor do simbolo inserido*/
.material-symbols-outlined{
    color: white;
}

.E-mail,
.material-symbols-outlined{
    align-items: center;
    justify-content: center;
    position: relative;
}

.E-mail,
.email{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
} 
/*centralizando o symbolo com o card text inserido*/
.E-mail{
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}

.senha,
.material-symbols-outlined{
    align-items: center;
    justify-content: center;
    position: relative;
}
.senha,
.senha-password{
    width: 95%;
    max-width: 350px;
    margin: 0 auto;   
}

.senha{
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}

.cadastro{
    display: flex;
    position: relative;
    margin: 0;
    top: 0;
    z-index: 1;
    align-items: center; 
    line-height: 1.1cm;
    justify-content: center;
    text-align: left;
    right: 50px;
}

.cadastro a{
    color: rgb(20, 220, 63);
    font-size: 14px;
}

.redefinir-senha{
    display: block; 
    position: absolute;
    width: 100%;
}
.redefinir-senha{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0;
    line-height: 1.12cm;
    text-align: left;
    right: -45px;
}

.redefinir-senha[
    
]
